html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* .add-issue-wrapper {
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.add-issue-wrapper h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.add-issue-wrapper form {
    padding: 25px;
    border-radius: 10px;
    background: #fff;
}

.add-issue-wrapper form div {
    margin-top: 10px;
}

.add-issue-wrapper form div {
    display: flex;
}

.add-issue-wrapper form p.error {
    display: none;
    color: #ff0000;
    font-size: 12px;
    margin: 10px 0;
    text-align: center;
}

.add-issue-wrapper form p.error.show {
    display: block;
}

.add-issue-wrapper form div:first-child {
    margin-top: 0;
}

.add-issue-wrapper form div label {
    width: 75px;
}

.add-issue-wrapper form div label span {
    color: #ff0000;
}

.add-issue-wrapper form input[type="submit"] {
    margin: 10px auto 0;
    display: block;
    cursor: pointer;
} */

.issue-details-wrap table th,
.issue-details-wrap table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
}

/* .header-wrap {
    padding: 25px;
    background-color: #282c34;
}
.header-wrap ul {
    display: flex;
    gap: 16px;
}
.header-wrap ul li a {
    color: #fff;
    text-decoration: none;
} */

.main-content {
    height: calc(100vh - 112px);
}

.slider-wrap img {
    height: 700px;
    width: 100%;
}
.slider-wrap .slick-slider {
    overflow: hidden;
    width: 100%;
    position: relative;
}

footer {
    padding: 15px;
    background-color: #282c34;
    text-align: center;
    color: #fff;
}
